@import url("https://fonts.googleapis.com/css?family=Open+Sans|Open+Sans+Condensed:300,700");
body {
  font-family: "Open Sans", Helvetica, sans-serif;
  text-align: center;
  margin: 0px;
}

.headerImage1 {
  overflow: hidden;
  height: 500px;
}

.headerImage1 img {
  height: 100%;
  
 contain: content;
}

.cardList {
    /*display:grid;
    flex-flow:column;
    grid-template-columns:250px 250px 250px 250px;
    grid-gap:30px;
    flex-wrap:wrap;
    margin:0px;
    justify-content: space-around;
    padding-left: 0px;
    padding-right: 50px;*/

 display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
  
  
}

img {
  max-height: 250px;
  margin: auto;
  display: inline-block;
}
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  font-weight: 400;
}

.Pokemonclass {
  display: inline-block;
  width: 400px;
  padding: 0.6em;
  border-radius: 30px;
  margin: 20px;
  background: rgb(184, 184, 184);
  text-align: left;
  box-shadow: 0px 5px 20px -10px #111;
  position: relative;
  transition: 0.7s ease;
}

.Pokemonclass:hover {
  transform: scale(1.05);
}

.card__caption {
  background-color: rgba(255, 255, 255, 0.829);
  padding: 1em;
  position: relative;
  border-radius: 0 0 20px 20px;
}
.card__image-container {
  background-color: rgba(0, 0, 0, 0.7);
  text-align: center;   
  padding: 1em 1em 0;
  border-radius: 20px 20px 0 0;
}
.card__type {
  position: absolute;
  top: 0;
  right: 1em;
  transform: translateY(-50%);
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  font-family: "Open Sans Condensed", "Open Sans", helvetica, sans-serif;
  letter-spacing: 0.1em;
  padding: 0.2em;
  line-height: 1;
  border-radius: 2px;
  background: rgb(136, 31, 31);
  font-size: 1.5em;
}

.card__label {
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 400;
  display: block;
  margin-bottom: 3px;
}
.card__name {
  font-family: "Open Sans Condensed", "Open Sans", helvetica, sans-serif;
  text-align: center;
  font-size: 3em;
  font-weight: 700;
  letter-spacing: 0.02em;
  margin-top: 20px;
}
.card__stats {
  margin: 1em 0;
  width: 100%;
  font-size: 1.5em;
}
.card__stats th {
  font-family: "Open Sans Condensed", "Open Sans", helvetica, sans-serif;
  text-align: right;
  font-weight: 300;
}
.card__stats th,
.card__stats td {
  width: 50%;
  padding: 0.25em 0.5em 0;
}

.Pokemonclass a {
  color: black!important;
  text-decoration: none;
}

.spinner {
  border: 8px solid #f3f3f3;
  border-top: 8px solid darkgray;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  animation: spin 2s linear infinite;
}

.vanta-background {
  width: 100%;
  height: 100vh;
  z-index: -10;
  position: absolute;
}

.fight-button, .leaderboard-button {
  background: none;
  background-color: #ffcb05;
  font-family: "Open Sans Condensed", "Open Sans", helvetica, sans-serif;
  font-size: 5em;
  padding: 20px;
  border: none;
  display: inline-block;
  margin-bottom: 20px;
  box-shadow: 3px 4px #9f9898;
  border-radius: 15px;
}

.leaderboard-button {
  font-size: 2em;
}

.leaderboard table {
  margin: 0 auto;
}